<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- TODO: Temporary: have to locate the correct mbean server. -->
    <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean"/>

    <bean id="exporter"
          class="org.springframework.jmx.export.MBeanExporter"
          lazy-init="false"
          p:assembler-ref="assembler"
          p:namingStrategy-ref="namingStrategy"
          p:autodetect="true">
        <property name="server" ref="mbeanServer"/>
    </bean>

    <bean id="attributeSource"
          class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

    <bean id="assembler"
          class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler"
          p:attributeSource-ref="attributeSource"/>


    <bean id="namingStrategy"
          class="org.springframework.jmx.export.naming.MetadataNamingStrategy"
          p:attributeSource-ref="attributeSource"/>

    <bean id="openConfig"
          class="org.openconfig.jmx.OpenConfig"/>

    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <property name="port" value="1099"/>
    </bean>

    <bean id="serverConnector" depends-on="registry"
          class="org.springframework.jmx.support.ConnectorServerFactoryBean">
        <property name="objectName" value="connector:name=rmi"/>
        <property name="serviceUrl"
                  value="service:jmx:rmi://localhost/jndi/rmi://localhost:1099/openConfigConnector"/>
    </bean>

    <bean id="configurationMBean" class="org.openconfig.server.mbean.Configuration">
    </bean>

</beans>